html {}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
}

.container {
    max-width: 2000px;
    padding: 0px;
    margin: 0px;
    margin: auto;
}

/*  Upper Most Navigation */

.upper-most-nav {
    max-width: 100%;
    height: 46px;
    background-color: #ffd600;
    display: flex;
    align-items: center;
}

.upper-most-nav-phone-ctr {
    display: flex;
    padding: 4px;
    align-items: center;
    margin-left: 50px;
}

.upper-most-nav-phone-ctr i {
    margin-right: 6px;
    transform: rotate(90deg);
}

.upper-most-nav-email-ctr {
    display: flex;
    padding: 4px;
    align-items: center;
    margin-left: 50px;
}

.upper-most-nav-email-ctr i {
    margin-right: 6px;
}

/*  Main Navigation */

.main-nav {
    height: 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-height: 100%;
}


.logo i {
    max-width: 120px;
    margin-left: 110px;
    font-size: 48px;
    transition: .5s;
    /* margin-top: 20px; */
}

.logo i:hover {
    color: #ffd600;
}

.main-nav-item-ctr {
    display: flex;
    align-items: center;
    margin-right: 70px;
    justify-content: center;
    float: right;
}

.main-nav-item-ctr li {
    list-style-type: none;
    margin-left: 60px;
}

.main-nav-item-ctr li a {
    text-decoration: none;
    color: #252525;
    text-transform: uppercase;
    font-weight: 900;
    transition: all 250ms ease-in-out 0s;
    font-size: 18px;
    border-bottom: 1px solid black;
}


/*  Hero Section */

.hero {
    background: #ffd600;
    display: flex;
    justify-content: space-around;
    /* max-height: 509px; */
    min-height: calc(100vh - 142px);
    height: 100%;
    align-items: center;
    position: relative;
    padding: 20px;
}

.paw-icons {
    visibility: hidden;
}

.hero-text {
    max-width: 400px;
    margin-left: 60px;
    text-align: center;
}

.hero-text h3 {
    font-size: 60px;
    font-family: 'Finger Paint', cursive;
}

.hero-text p {
    margin-left: 60px;
    margin: 0px;
    padding: 0px;
    font-size: 24px;
}

.hero-image img {
    max-width: 381px;
    max-height: 399px;
}

.info-one {
    padding: 30px;
    min-height: 100vh;
    height:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info-one-bottom-ctr {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

.info-one-bottom-ctr .item {
    max-width: 293px;
    text-align: center;
}

.info-one h1 {
    font-size: 54px;
    text-align: center;
}

.info-two {
    padding: 30px;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #ffd600;
}

.info-two h1 {
    font-size: 54px;
    text-align: center;
}

.info-two-content-ctr {
    display: flex;
    justify-content: space-around;
}

.info-two-content-ctr .column {
    max-height: 480px;
    max-width: 262px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-two-content-ctr .column .item .num-text-ctr .num {
    margin-right: 20px;
}

.item .num-text-ctr {
    display: flex;
    justify-content: space-between;
}

.info-three {
    padding: 20px;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info-three .item-ctr {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

.info-three h1 {
    font-size: 54px;
    text-align: center;
}

.info-three .item {
    max-height: 328px;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.08) !important;
    position: relative;
    padding: 30px 30px 30px 30px;
    z-index: 2;
    text-align: center;
    margin-bottom: 20px;
}

.info-three h4 {
    border-bottom: 3px brown solid;
    max-width: 120px;
    margin: auto;
}

.info-three .item .price {
    font-size: 42px;
    font-weight: bold;
}

.info-three .item .cut {
    font-size: 24px;
    font-weight: 900;
}

.info-three .item li {
    list-style-type: none;
}

.info-three .item .slash {
    font-size: 32px;
    font-weight: bold;
    margin-left: 8px;
    margin-right: 8px;
}

.info-three .item .paw {
    position: absolute;
    bottom: -0px;
    right: -10px;
    background: #ffd600;
    color: #fff;
    border-radius: 2px;
    font-weight: 700;
    font-size: 24px;
    width: 20px;
    height: 227px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 1;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.08) !important;
}

.info-three .item .paw i {
    color: green;
    font-weight: 600;
    font-size: 36px;
}

/* Contact Page */



.contact-container {
    min-height: calc(100vh - 142px);
    height:100%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:0 auto;
    padding-top:30px;
    background: #ffd600;
    max-width: 100vw;
}

.contact-col {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    /* max-width: 200px; */
    flex-wrap:wrap;
    
}

.contact-col p {
    text-align: center;
}

.circle {
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.circle i {
    font-size: 36px;
    color: black;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background: #efefef;
}

/* ANIMATIONS */

.slide-top {
    animation: slide-top 1.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-top {
    0% {
        transform: translateY(150px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* MEDIA QUERIES */

@media screen and (max-width: 940px) {
    .hero-image img {
        max-width: 281px;
        max-height: 299px;
    }
}

@media screen and (max-width: 700px) {
    .hero-image img {
        max-width: 181px;
        max-height: 199px;
    }

    .info-two img {
        display:none;
    }
}



@media screen and (max-width: 630px) {
    .upper-most-nav {
        display: none;
    }
    .hero-image img {
        display: none;
    }
    .main-nav-item-ctr {
        margin-right: 30px;
        justify-content: space-between;
        /* margin-right: 30px; */
    }
    .logo i {
        margin-left: 20px;
        font-size: 36px;
        max-width: 20px;
    }
    .hero-text {
        margin-left: 0px;
        max-width: 600px;
    }
    .paw-icons {
        visibility: visible;
        top: 12%;
        position: absolute;
        left: 50%;
    }
    .paw-icons i:nth-child(1) {
        padding: 10px;
        transform: rotate(20deg);
    }
    .paw-icons i:nth-child(2) {
        padding: 10px;
        transform: rotate(45deg);
        position: absolute;
        top: 40px;
        left: -90px;
    }
    .paw-icons i:nth-child(3) {
        padding: 10px;
        transform: rotate(80deg);
        position: absolute;
        top: 40px;
        left: -30px;
    }
    .hero-text h3 {
        font-size: 36px;
    }
    .hero-image img {
        display: none;
    }
    .info-one {
        flex-wrap: wrap;
        height: 100%;
    }
    .info-one h1 {
        font-size: 36px;
    }
    .info-one-bottom-ctr {
        flex-wrap: wrap;
    }
    .info-two {
        height: 100%;
    }
    .info-two h1 {
        font-size: 36px;
    }
    .info-two-content-ctr {
        flex-wrap: wrap;
    }
    .info-two-content-ctr .column {
        max-width: 600px;
    }
    .info-three {
        height: 100%;
    }
    .info-three h1 {
        font-size: 36px;
    }
    .info-three .item-ctr {
        flex-wrap: wrap;
    }
    .info-three .item {
        margin-bottom: 20px;
    }
    .info-two img {
        display: none;
    }
    .contact-container {
        height: 100%;
        flex-wrap: wrap;
        margin-top: 30px;
        padding-bottom: 30px;
    }
    .contact-col {
        margin-bottom: 30px;
    }
    .contact-col h3 {
        margin-top: 5x;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 630px)
and (orientation: landscape) {
    .paw-icons {
        visibility:hidden;
    }
}